# package directories
node_modules
/dist

# ENV variables and secrets
*.env

# IDE specific files
.vscode

# Coverage
/coverage

# Log files
*.log
*.receipt.json

# Ignore "yarn.lock" and "package-lock.json" as these files will be installed depending on the users npm/yarn version
/templates/**/yarn.lock
/templates/**/package-lock.json
