{
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    },
    {
      "files": "templates/**/*.*",
      "options": {
        "printWidth": 80,
        "singleQuote": false
      }
    },
    {
      "files": "templates/**/*.sol",
      "options": {
        "compiler": "0.8.9",
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
